body{
  background-color: #FAFAFA;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
  padding: 70px 0 0;
  position: relative;
  width: 1440px;
}

div{
  background-color: #FFFFFF;
  border: none;
  border-top: solid;
  border-radius: 3px;
  height: 180px;
  width: 290px;
  margin: auto;
  text-align: left;
  padding: 30px 30px;
  box-shadow: 0px 10px 30px -11px rgba(0,0,0,0.62);
  position: relative;
}

h2{
  margin: 0;
  font-size: 1.4rem;
  color: #56576B
}

img{
  position: absolute;
  bottom: 30px;
  right:30px;
}

p{
  color: #9E9EA0;
  font-size: 0.9rem;
}

.attribution { font-size: 11px; text-align: center; margin-top: 50px;}
.attribution a { color: hsl(228, 45%, 44%); }

.calculator{
  border-color: #519FF2;
  position: absolute;
  right: 160px;
  bottom: 210px;
}

.desc{
  width: 37%;
  margin: 20px auto 80px;
  font-size: 0.9rem;
}

.bottom-heading{
  color: #56576B;
  margin: 0;
  font-size: 2.2rem;
}

.karma{
  border-color:	#FCAE49;
}

.supervisor{
  border-color: #49D1D1;
  position: absolute;
  left: 160px;
  bottom: 210px;
}

.team-builder{
  border-color: #EB5357;
  margin-bottom: 30px;
}

.top-heading{
  color: #494855;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin: 0;
  font-size: 2.17rem;
}
